/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: rgb(37, 43, 55);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav_logo, 
.nav_burger, 
.nav_close {
  color: var(--white-color);
}

.nav_data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav_logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav_toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav_close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav_close {
  opacity: 0;
}

.profile { 
  margin-top: 13rem;
  width: 100%;
  height: 500px;
  /* border-style: solid; */
}
.selfprotrait {
  display: block;
  border-radius: 50%;
  margin: auto;
  width: 25rem;
}

.intro {
  display: block;
  text-align: center;
}

.intro .intro-name {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 4rem;
  color: var(--black-color);
}

.intro .intro-description {
  font-size: 1.4rem;
}

.footer {
  background-color: var(--black-color);
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: var(--white-color);
  align-items: center;
}
.footer_link i{
  color: var(--white-color);
  font-weight: initial;
  font-size: 2rem;
}

/* project */
.projects {
  margin-top: 7rem;
  color: var(--black-color);
  display:block;
  margin-bottom: 7rem;
}

.projects img {
  width: 25rem;
}
.projects header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.projects_info {
  display:flex;
  justify-content: center;
  /* border-style: solid; */
  /* padding-left: 20rem;
  padding-right: 5rem; */

}
.description_text {
  margin-top: 2rem;
}
.description {
  display: inline-block;
  margin-top: 3rem;
  width: 30rem;
  padding-right: 5rem;
}
.projects h3 {
  margin-top: 2rem;
}
.projects h2 {
  font-size: 2rem;
}

/* about */
.about {
  margin-top: 7rem;
}
.about header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--black-color);
}
.basicinfo {
  justify-content: center;
}
.selfinfo{
  display: block;
  margin: auto;
  align-items: center;
  margin-top: 3rem;
  width: 50rem;
}

.info_tabs {
  display: flex;
  /* border-style: solid; */
  width: 100%;
  height:6rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  font-size: 2rem;
}
.info_tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  transition: 0.5s;
}
.ri-graduation-cap-line {
  color:#ea4335;
}
.ri-briefcase-line {
  color:#fbbc05;
}
.ri-code-box-line {
  color:#34a853;
}
.ri-basketball-line {
  color:#4285f4;
}
#info_icon {
  font-size: 6rem;
  display: inline;
  /* border-style: solid; */
}
.hovertext {
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: -6rem;
  padding-top: 2.5rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  visibility: hidden;
  opacity:0;
  background-color: rgba(255, 255, 255, 0.6);
  /* color: black; */
  transition: opacity 0.8s, visibility 0.8s;
}
.info_tabs button:hover .hovertext{
  visibility: visible;
  opacity: 0.5;
}
.info_tabs button.active .hovertext {
  visibility: visible;
  opacity: 1;
}

.tabcontent {
  display: none;
  margin: auto;
  max-width: 60rem;
  /* border: solid; */
}
.tab-content{
  display:flex;
  justify-content: center;
  
  margin-bottom: 4rem;
}
.tab-content div{
  margin-right: 5rem;
  padding-left: 2rem;
}
.tab-content .tabtext {
  /* padding-left: 1rem; */
  margin: 1rem;
}
.tabpic img{
  margin-top: 1rem;
  width: 10rem;
}



/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav_menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav_menu::-webkit-scrollbar {
    width: 0;
  }
  .nav_list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav_link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav_link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav_burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav_close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav_link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav_toggle {
    display: none;
  }
  .nav_list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav_link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav_link:hover {
    background-color: transparent;
  }

}